.myButtons{
    font-size: 4 rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}
.enabled{
    background-color: blue;
    color: white;
}
.hover{
    box-shadow: black;
    font-weight: bold;
}
.disabled{
    background-color: grey;
    color: white;
}